li {
    display: inline;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  input {
    width: 500px;
    height: 30px;
    border: 1px solid #D3D3D3;
    margin: 4px;
    font-size: 16px;
    font-family: "Arial Regular", serif;
    padding: 4px;
    border-radius: 25px;
    cursor: text;
  }

  .logo-search {
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: center;
    /* text-align: -webkit-center; */
    min-height: 75vh;
    min-width: 200vh;
  }

  .topnav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: #545454;
}

.topnav a:hover {
    text-decoration: underline;
}

.topnav-right {
  float: right;
}

.topnav-right button{
    text-align: center;
    background:#4285F4;
    color: white;
    border: none;
    padding: 8px 16px 8px 16px;
    border-radius: 5%;
    right: 0;
    margin-right: 20px;
    outline: none;
}

.apps-icon {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  opacity: 0.5;
}

.apps-icon:hover{
    opacity: 1;
}
.footer-bar {
     bottom: 0;
     height: 35px;
     position: fixed;
     width: 100%;
     background: #f2f2f2;
     line-height: 40px;
     border-top: 1px solid #e4e4e4;
     white-space: nowrap;
     margin-left:  8px;
     margin-right:  8px;
     margin-bottom: 5px;
}
.right-side {
    float: right;
}
.left-side {
    float: left;
}
.footer-bar a {
    margin: 8px;
    padding: 8px;
    color: #5f6368;
    text-decoration: none;
    font-family: "Arial Regular", serif;
    font-size: 14px;
}
.footer-bar a:hover {
    text-decoration: underline;
}

button {
    width: auto;
    height: 40px;
    color: #646464;
    background: #F2F2F2;
    border: none;
    cursor: pointer;
    margin: 5px;
}
button:hover {
    color: #373737;
    background: #D3D3D3;
    border: 1px solid lightgray;
}    

/* END CSS*/
